<div id="navbar">
  <div>
  <a href="/" class="index-a">Home</a>
  </div>
  <div>
  <a href="/Cities" class="index-a">Cities Data</a>
  </div>
  <div>
  <a href="/Countries" class="index-a">Countries Data</a>
  </div>
  <div class="search">
    <a href="/cities/search" class="index-a">City search</a>
    <br>
    <a href="/countries/search" class="index-a">Country search</a>
  </div>
</div>
