body {
  background: url('/img/map.png') no-repeat center fixed;
  background-size: cover;
  font-family: skia;
  font-size: 2em;
}

h1 {
  font-size: 4em;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 5%;
}

.col-name {
  font-size: 1.5em;
  font-weight: bold;
}

.index-a {
  color: black;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  padding: 1%;
}

.index-a:hover {
  color: #FFF;
  background-color: black;
  text-decoration: none;
  padding: 1%;
}

.search {
  margin-top: 10%;
  font-size: .75em;
}

div#navbar {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 20%;
  margin-bottom: 5%;
}
