@{

  Layout = "_Layout";
}

<h1>Search in Cities</h1>
<form class="" action="/cities" method="post">
  <div class="form-group">
    <label for="citySearch">City search: </label>
    <input type="text" name="citySearch" class="form-control">
  </div>
  <h3>OR</h3>
  <div class="form-group">
    <label for="populationSearch">Population search:</label>
  </div>
  <div class="radio">
   <label>
     <input type="radio" name="comparison" value=">=" checked>
     Greater or Equal
   </label>
   <label>
     <input type="radio" name="comparison" value="<=">
     Less Than or Equal
   </label>
   <input type="number" name="populationSearch" value="0" class="form-control">
  </div>
  <div class="radio">
   <label>
     <input type="radio" name="order" value="ASC" checked>
     Ascending
   </label>
   <label>
     <input type="radio" name="order" value="DESC">
     Descending
   </label>
  </div>
  <button type="submit" class="btn btn-info">Search</button>
</form>
